@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 50px;
}

body {
  background: #f3f3f3;
}

.jumbo {
  padding: 20px 0px 0px 20px;
}

.tomster {
  background: url('../../public/assets/images/teaching-tomster.png');
}

.menu {
  background-color: #e46855;
  display: flex;
  align-items: center;
}

.menu h1 {
  padding-left: 10px;
}

.links {
  display: flex;
}

.link {
  padding: 5px 30px 5px 30px;
}

